.busNumber {
    width:40px;
    height:40px;
    line-height:40px;
    text-align: center;
    margin:auto;
    border-radius : 10px;
}

.hideOverflow {
    height:485px;
    overflow-y:hidden;
}
.card {
    height:55px !important;
}
.card-body {
    padding:5px !important;
}